table{
	width: 400px;
	/*border-spacing: 40px;*/
}
th{
	text-align: left;
}
table,th,td{
	border: 1px solid #000;
	border-collapse: collapse;
}
th,td{
	border: 1px solid #000;
	border-collapse: collapse;
}
